.container{
    position: relative;
}

.sections{
    width: 300px;
}

.sections > div{
    background: var(--sa-offwhite);
    opacity: .2;
    margin-bottom: 200px;
}
.sections > div:last-child{
    margin-bottom: 30px;
}
.sections > div.graph-scroll-active{
    opacity: 1;
}

.graph{
    margin-left: 40px;
    width: 600px;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    float: right;
    /*padding-top:10%;*/
}

@media (max-width: 925px)  {
    .graph{
        width: 100%;
        margin-left: 0px;
        float: none;
    }

    .sections{
        width: auto;
        position: relative;
        margin: 0px auto;
    }

    .sections > div{
        background: var(--sa-offwhite);
        padding: 10px;
        border-top: 1px solid;
        border-bottom: 1px solid;
        margin-bottom: 80vh;
    }

    pre{
        overflow: hidden;
    }

    h1{
        margin: 10px;
    }
}

div.sections.always-active div {
    opacity: 1;
}
