/***** OVERALL STYLES *****/
h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}
p, div, text {
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: 20px;
}
body {
    padding: 5px;
    margin: 2px;
    background-color: var(--sa-offwhite);
}
:root {
    --sa-orange: #f4b400;
    --sa-blue: #4285f4;
    --sa-offwhite: #fafafa;
    --sa-gray: #737373;
    --ivory-pink: #F3818C;
    --tide-orange: #FDA54E;
    --pantene-beige: #E9CAA7;


    --roboto: 'Roboto', sans-serif;
    --roboto-slab: 'Roboto Slab', serif;
}
.text-big {
    font-size: 30px;
}
.tide {
    color: var(--tide-orange);
}
.pantene {
    color: var(--pantene-beige);
}
.ivory {
    color: var(--ivory-pink);
}
/***** BLOCK ARRANGEMENT *****/
.text-block {
    text-align: center;
    position: relative;
    height: 50vh;
    margin-top: 30%;
    margin-bottom: 10%;
}
.full-height {
    height: 100vh;
    text-align: center;
}
.vertical-middle {
    position: absolute;
    width: 800px;
    height: 100%;
    top: 45%;
    left: 50%;
    margin-left: -400px; /* margin is -0.5 * dimension */
    margin-top: -25px;
    text-align: center;
}​
.extra-padding {
    padding-top: 200px;
    padding-bottom: 200px;
 }

/***** SCATTER STYLES *****/
circle.marker {
    fill: var(--sa-orange);
    /*stroke: black;*/
    stroke-width: 1px;
    opacity: 0.8;
}
circle.marker.dashboard {
    r: 4;
    stroke: var(--sa-gray);
    stroke-width: 1px;
    opacity: .6;
}
circle.marker.dashboard.highlight,
circle.marker.highlight {
    r: 4;
    stroke: black;
    opacity: .9;
    stroke-width: 2px;
}

text.axis-label {
    size: 20px;
    fill: #343a40;
}
text.axis-label.x {
    text-anchor: end;
    transform: translate(0, -2px);
}
text.axis-label.y {
    transform: rotate(-90deg) translate(0, 10px);
}
line.bonus-line {
    stroke-dasharray: 5;
}

/***** FLOW STYLES *****/
path.link {
    fill: none;
    stroke: #005cbf;
    stroke-opacity: 0.2;
}
rect.node {
    fill: #005cbf;
    opacity: 0.8;
}

rect.node.highlight {
    stroke: var(--sa-orange);
    stroke-width: 3px;
}
path.link.highlight {
    stroke: var(--sa-orange);
    stroke-opacity: 0.8;
}
text.label {
    fill: black;
    color: black;
    font-size: 12px;
}

/***** TIMELINE STYLES *****/
rect.bar {
    fill: var(--sa-orange);
    stroke: none;
    opacity: 1;
}
text.title {
    font-family: var(--roboto);
    font-style: italic;
    font-size: 15px;
}
line.dashed {
    stroke: var(--sa-gray);
    stroke-dasharray: 5;
    stroke-width: 2px;

}

/***** TOOLTIP *****/
div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: var(--sa-offwhite);
}

/***** TRIANGLE STYLES *****/
line.border {
    stroke: black;
    stroke-width: 1px;
}
circle.vertex  {
    r: 4;
    stroke: black;
    fill: black;
}
text.label.dashboard {
    font-size: 20px;
}

/***** DASHBOARD *****/
div#filter {
    margin: 0;
    padding-left: 4em;
    padding-right: 1em;
}
span.form-header {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

/***** JOURNEY VIS *****/
text.label.name {
    font-size: 18px;
}